{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/flowers/flower-detail.css' %}"
/>
<script defer src="{% static 'js/flower-detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class='detail-container'>
<section class='flower-detail-container'>
  <div class="flower-detail-img">
    {% if flower.photo.url %}
    <img 
    src="{{flower.photo.url}}"
    alt="flower"
    >
    {% else %}
    <img class="card-img"
    src="{% static 'images/default.png' %}"
    alt="default-flower"
    >
    {% endif%}
  </div>
  <div class="flower-card-text">
    <h2 class="card-title">{{ flower.name }}</h2>
    <p>A {{ flower.type }} flower.</p>
    <p>{{ flower.location }}</p>
    <p>{{ flower.description }}</p>

    <div class="flower-actions">
      <a href="{% url 'flowers_update' flower.id %}" class="btn">Edit</a>
      <a href="{% url 'flowers_delete' flower.id %}" class="btn">Delete</a>
    </div>
    <h3>Change {{ flower.name }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' flower.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn">Upload Photo</button>
    </form>
  </div>
</div>
</section>

<div class="care-garden-container">
  <section class="care">
    <div class="subsection-title">
      <h2>Care</h2>
    </div> 
    <h3>Add Care</h3>
    <form
      action="{% url 'add_care' flower.id %}"
      method="POST"
      class="subsection-content"
    >
      {% csrf_token %}
      {{ care_form.as_p }}
      <button type="submit" class="btn">Add Care</button>
    </form>
    <h3>Past Care</h3>
    {% if flower.care_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Care</th></tr>
        </thead>
        <tbody>
          {% for care in flower.care_set.all %}
            <tr>
              <td>{{ care.date }}</td>
              <td>{{ care.get_care_display }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="subsection-content">
      <p>{{ flower.name }} has never been tended to.</p>
    </div>
  {% endif %}
</section>

<section class="gardens">
  <div class="subsection-title">
    <h2>Gardens</h2>
  </div>
  <h3>Gardens with {{ flower.name }}</h3>
  <div class="subsection-content">
    {% if flower.gardens.count %}
      {% for garden in flower.gardens.all %}
        <div class="garden-container">
          <a href="{% url 'gardens_detail' garden.id %}">
            <p>{{ garden.name }} located in  {{ garden.location }} </p>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p class="no-gardens">{{flower.name}} is not in any gardens.</p>
    {% endif %}
  </div>
    <h3>Available Gardens to Plant</h3>
    <div class="subsection-content">

      <div>
      {% if gardens.count %}
        {% for garden in gardens.all %}
            <a href="{% url 'gardens_detail' garden.id %}">
              <p>{{ garden.name }} located in  {{ garden.location }} </p>
            </a>
            <form action="{% url 'assoc_garden' flower.id garden.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn submit">Plant!</button>
            </form>
            {% endfor %}
      {% else %}
        <p class="all-gardens">
          {{flower.name}} already planted in available gardens.
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}