{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/flowers/flower-detail.css' %}"
/>
{% endblock %}

{% block content %}
<div class='detail-container'>
<section class='flower-detail-container'>
  <div class="flower-detail-img">
    <img 
    src="{% static 'images/'|add:flower.name|add:'.png' %}"
    alt="flower"
    width="100%"
    height="100%"
    >
  </div>
  <h2 class="card-title">{{ flower.name }}</h2>
  <p>A {{ flower.type }} flower.</p>
  <p>{{ flower.location }}</p>
  <p>{{ flower.description }}</p>

  <div class="flower-actions">
    <a href="{% url 'flowers_update' flower.id %}" class="btn">Edit</a>
    <a href="{% url 'flowers_delete' flower.id %}" class="btn">Delete</a>
  </div>

</div>
</section>

  </div>
</section>
</div>

{% endblock %}