{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/flowers/flower-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Flower Collection</h1>
</section>

<section class="card-container">
  {% for flower in flowers %}
    <div class="card">
      <a href="/flowers/{{ flower.id }}">
      <div class="card-content">
        <div class="card-img-container">
          <img class="card-img"
            src="{% static 'images/'|add:flower.name|add:'.png' %}"
            alt="flower"
            width="250px"
            height="250px"
          >
        </div>
        <h2 class="card-title">{{ flower.name }}</h2>
        <p>A {{ flower.type }} flower.</p>
        <p><small>{{ flower.location }}</small></p>
        <p><small>{{ flower.description }}</small></p>
        
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}