{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/flowers/flower-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Flower Collection</h1>
  {% comment %} <img class="img-small" src="{% static 'images/Camellia.png' %}" alt="camellia" />
  <img class="img-small" src="{% static 'images/Gloriosa.png' %}" alt="gloriosa" />
  <img class="img-small" src="{% static 'images/Peony.png' %}" alt="peony" />
  <img class="img-small" src="{% static 'images/Hydrangea.png' %}" alt="hydrangea" /> {% endcomment %}
</section>

<section class="card-container">
  {% for flower in flowers %}
    <div class="card">
      <a href="/flowers/{{ flower.id }}">
      <div class="card-content">
        <div class="card-img-container">
          <img class="card-img"
            src="{% static 'images/'|add:flower.name|add:'.png' %}"
            alt="flower"
            width="250px"
            height="250px"
          >
        </div>
        <h2 class="card-title">{{ flower.name }}</h2>
        {% comment %} {% if flower.color > 0 %} {% endcomment %}
          {% comment %} <p>A {{ flower.color }} {{ flower.type }}</p> {% endcomment %}
        {% comment %} {% else %} {% endcomment %}
          <p>A {{ flower.type }} flower.</p>
        {% comment %} {% endif %} {% endcomment %}
        <p><small>{{ flower.location }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}