{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

  <section class="logo-container">
    <div class="flower-container">
      <h1>The Botanist's Library</h1>
    </div>
  </section>

  {% if not user.is_authenticated %}
    <section class="login-section">
      <form action="{% url 'home' %}" method="post" class="login">
        <div class="login-title">
        <h1>Login</h1>
        </div>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        {% comment %} this will take them back to the page that they originally wanted to go {% endcomment %}
        <button type="submit" class="btn">Login</button>
      </form>
    </section>
  {% else %}
    <section class="login-section-ghost">
    </section>
  {% endif %}
  
{% endblock %}  