main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-flower div{
  padding: 0px;
}

.delete-flower h1{
  font-size: x-large;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: medium;
  text-align: center;
}

.delete-flower{
  width: 50%;
  max-width: 350px;
  border-radius: 5%;
}
