main {
  width: 60%;
}

.page-header {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 100%;
}

table {
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 40px 0 0;
  width: 10%;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-l);
}

td {
  max-width: 80%;
  font-family: inherit;
  font-size: var(--font-reg); 
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
  border: 1px solid rgb(209, 207, 207);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
  font-size: var(--font-reg); 
}

td > input {
  font-family: inherit;
  font-size: var(--font-reg); 
}

.btn {
  align-self: flex-end;
}