body {
  background: url('../images/home.png') no-repeat center center fixed; 
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

main {
  padding: 8% 12%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  font-weight: 100;
}

main > section {
  width: 100%;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.logo-container {
  max-width: 375px;
  display: flex;
  justify-content: flex-start;
}

.flower-container {
  width: 100%;
  /* padding: 0 0 0 10%; */
  margin: 0;
}

/* h1 {
  font-size: 3em;
  font-weight: bold;
  color: #f80351;
} */

.flower-container h1 {
  font-size: 15em;
  font-weight: 200;
  color: #f80351;
}

.login-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border-radius: 0%; */
  /* padding: 0 0 0 10%; */
  background-color:rgba(255, 255, 255, .4);
  box-shadow: 0 0 25px rgba(255, 255, 255, 1);
  font-family: 'Raleway';
  font-weight: 300;
}

.login h1 {
  font-size: clamp(4.2rem, 4vw, 5.8rem);
  margin: 10px 0;
  font-size: 3em;
  font-weight: bold;
  color: #f80351;
}

.login > p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 14px 0 0px;
}

.login label {
  font-size: var(--font-reg);
  margin-bottom: 6px;
  font-size: 2.5em;
  font-weight: 300;
  color: #f80351;
}

.login input {
  font-size: var(--font-l);
  padding: 2px 4px;
}

.login .btn {
  align-self: flex-end;
  margin-right: 0;
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  main {
    justify-content: space-around;
    padding: 0;
  }

  main > section {
    width: 40%;
  }

  .login {
    border: var(--borders);
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 45px rgba(255, 255, 255, 1);
    width: 100%;
  }

  .logo-container {
    max-width: 520px;
  }

  .flower-container {
    max-width: 60%;
  }
}

